<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <h2>Welcome !</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <form class="col-xs-4 col-xs-offset-4" [formGroup]="form" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" formControlName="password">
          </div>
          <button class="btn btn-default" [disabled]="!form.valid" type="submit">Let me in!</button>
        </fieldset>
      </form>
    </div>
  </section>
</div>
<pre>Form value: {{ form.value | json }}</pre>
<pre>Form status: {{ form.status | json }}</pre>